<div class="contact-card-div " ng-click="showUser(contactid)" id="{{contactid}}" ng-class="active">

    <div class="contact-card-items">
        <div ng-if="contactObject.picture" class="contact-pic" style="background-image: url('{{contactObject.picture}}')">
        </div>
        <div ng-if="!contactObject.picture" class="contact-pic" style="background-image: url('./assets/photos/avatar5.png')">
        </div>
        <div class="contact-content">
            <div class="contact-name">
                {{contactObject.name | firstCharacterUppercase | showFirstLastName}}
            </div>

            <div class="contact-detail">
                {{contactObject | choosePrimaryContact}}
            </div>
        </div>
    </div>
</div
