<div class="contact-form-container">
    <!-- <input type="submit" value="Save" ng-click="Save()"> </input>
    <input type="submit" value="Discard" ng-click="Save()"> </input> -->
    <div class="form-header-container">
        <div class="circle-image">
        </div>
        <div class="header">
            <div ng-if="ContactsService.Model.name == null || ContactsService.Model.name.trim() == ''">
                Contact's name
            </div>
            <div ng-if="ContactsService.Model.name != null && ContactsService.Model.name.trim() != ''" >
                {{ ContactsService.Model.name | firstCharacterUppercase }}
            </div>
            
        </div>
    </div>
    <div class="input-container">
        <form name="form-input">
            <div class="input">
                <div class="input-label">
                    Name
                </div>
                <input class="input-box" ng-model="ContactsService.Model.name" placeholder="{{ ContactsService.ModelCreate.name }}" type="text" required>
                </input>
            </div>
            <div class="input">
                <div class="input-label">
                    Phone Number
                </div>
                <input class="input-box" ng-model="ContactsService.Model.phonenumber" placeholder="{{ ContactsService.ModelCreate.phonenumber }}" type="text"> </input>
            </div>
            <div class="input">
                <div class="input-label">
                    Email
                </div>
                <input class="input-box" ng-model="ContactsService.Model.email" placeholder="{{ ContactsService.ModelCreate.email}}" type="text"></input>
            </div>
            <div class="input">
                <div class="input-label">
                    Birthday
                </div>
                <div class="input-group">
                    <input class="input-date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default icon-button" ng-click="open1()">
                      <i class="material-icon icon-input">date_range</i>
                      </button>
                  </span>
                </div>

            </div>
            <div class="input input-address">
                <div class="input-label">
                    Address
                </div>
                <textarea class="input-text-area" ng-model="ContactsService.Model.address" placeholder="{{ ContactsService.ModelCreate.address}}" type="text">
                </textarea>
            </div>
            <div class="input" ng-if="!modeEdit">
                <div class="input-label">
                    Photo
                </div>
                <div class="input-group">
                    <input class="input-photo" placeholder="{{ContactsService.ModelCreate.photo}}" type="file" ngf-select="onFileSelect($files)" multiple/>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default icon-button" ng-click="open1()">
                      <i class="material-icon icon-input">camera_alt</i>
                      </button>
                  </span>
                </div>
            </div>
        </form>
    </div>
</div>
