<!--<h1>Hello</h1>
<contactForm> </contactForm>-->
<!--<contact-map contactid="'contact.id'"></<contact-map>-->
<!--<contact-map contactid="'58074e10aa2b4f17789d8169'"></<contact-map>-->
<!-- example of usage of the service-->

<!--<div ng-if="ActiveContactService.ActiveContact == null"> a carregar... </div>-->

<div class="showbox" ng-if="ActiveContactService.ActiveContact == null">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50" <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</div>

<div class="insideNgView animated fadeInRight" ng-if="ActiveContactService.ActiveContact != null">
    <!--<h2> details the contact</h2>-->
    <contact-details contact="ActiveContactService.ActiveContact" ></contact-edit>
</div>
