<!-- <input class="input-box" ng-model="variable1" placeholder="{{ holder }}" type="text" ng-if="inputType == null && inputRequired == false" >
</input> -->

<input class="input-box" ng-model="variable" placeholder="{{ holder }}" type="text" ng-if="inputType == null && inputRequired == true" required>
</input>
<!--
<input class="input-box" ng-model="variable1" type="inputType" placeholder="{{ holder }}" type="text" ng-if="inputType == 'mail'">
</input>

<input class="input-box-date" ng-model="variable1" placeholder="{{ holder }}" type="date" ng-if="inputType == 'date'">
</input>

<textarea class="input-box-date" ng-model="variable1" placeholder="{{ holder }}" ng-if="inputType == 'address'"> -->
</textarea>

<!-- && inputRequired == false" -->
