<div class="contact-form-container">
    <div class="form-header-container">
      <div class="circle-image" ng-if="isOnMobile">
      </div>
        <div class="header">
            <div class="circle-image" ng-if="!isOnMobile">
            </div>
            <div class="activeMobile">
                {{ContactsService.Model.name | firstCharacterUppercase}}
            </div>
        </div>
    </div>
    <div class="input-container">
        <div class="input">
            <div class="input-label">
                Name
            </div>
            <div class="label-contact-details">
                {{ContactsService.Model.name | firstCharacterUppercase}}
            </div>
        </div>
        <div ng-if="contact.phonenumber!=null" class="input">
            <div class="input-label">
                Phone Number
            </div>
            <div class="label-contact-details">
                {{ContactsService.Model.phonenumber}}
            </div>


        </div>
        <div ng-if="contact.email!=null" class="input">
            <div class="input-label">
                Email
            </div>
            <div class="label-contact-details">
                {{ContactsService.Model.email}}
            </div>
        </div>
        <div ng-if="contact.birthday!=null" class="input">
            <div class="input-label">
                Birthdate
            </div>
            <div class="label-contact-details">
                {{ContactsService.Model.birthday | date:'MM/dd/yyyy' }} {{ContactsService.Model.birthday | getContactAge}}
            </div>
        </div>
        <div ng-if="contact.address!=null" class="input">
            <div class="input-label">
                Address
            </div>
            <div class="label-contact-details">
                {{ContactsService.Model.address}}
            </div>
        </div>

            <div class="contactMap map">

            </div>

    </div>
</div>
